
<footer>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 191, 255)	;">
    <a class="navbar-brand" href="#">
      <img src="/Assets/Tracker.png" alt="Calorie Tracker" width="50" height="50">
    </a>
    
    <a class="text-black">© 2022 Copyright: Calorie Tracker</a>

    <a class="btn btn-outline-light btn-floating m-1" href="https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/understanding-calories/" target="_blank" role="button"
        ><i class="fa-solid fa-circle-info"></i>
      ></a>
  </div>
  <!-- Copyright -->
</footer>



