<main> 
  <div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4"> <strong> Home Page</strong> </h1>
    <strong><p style="color:white"> Welcome to Calories Tracker. Eating better is equal to Living better. <br> The amount of energy in an item of food or drink is measured in calories.<br> In the calories tracker, you can add the food you ate, the calories, the quantity and type of nutrient<br> Hope you enjoy and your health is our priority <br> Calories Tracker</p></strong>
  </div>
</div>

<style>
.container h1{
  color: white; 
}

.container p{
  color: white;
}
</style>